* {
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
  box-sizing: border-box;
  color: #7155a3;
}
a {
  text-decoration: none;
}
.header {
  height: 100vh;
}

/* .navbar-style {
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.562);
} */
.icon {
  display: flex;
  align-items: center;
}
.icon:hover {
  text-decoration: unset;
}
.logo {
  height: 65px;
  padding: 4px 10px;
}

.logo-name {
  text-decoration: none;
  font-family: "Montserrat", sans-serif;
  color: #7155a3;
  font-size: 35px;
  font-weight: 500;
}

.login-btn {
  font-family: "Montserrat", sans-serif;
  color: #7155a3;
  font-size: 15px;
  font-weight: 500;
}

.signup-btn {
  background-color: #7155a3;
  color: white;
}
